In [1]:
import numpy as np
import pandas as pd

In [35]:
df = {'col1': ['b', 'aaaaa', 'c', 'd', 'a', 'c'], 'col2': ['fasfasdf','fffsdgsag','fasdfasdgq', '4','4','4']}
df = pd.DataFrame(data=df)

In [29]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [38]:
enc = OrdinalEncoder()
df_o = df.copy()
df_o[["col1", 'col2']] = enc.fit_transform(df[["col1", 'col2']])

In [39]:
df_o

   col1  col2
0   2.0   2.0
1   1.0   3.0
2   3.0   1.0
3   4.0   0.0
4   0.0   0.0
5   3.0   0.0

In [40]:
enc.categories_

[array(['a', 'aaaaa', 'b', 'c', 'd'], dtype=object),
 array(['4', 'fasdfasdgq', 'fasfasdf', 'fffsdgsag'], dtype=object)]

In [49]:
enc_h = OneHotEncoder(drop='first')
transformed = enc_h.fit_transform(df[['col1']])

In [52]:
transformed.toarray()

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [54]:
enc_h.categories_

[array(['a', 'aaaaa', 'b', 'c', 'd'], dtype=object)]

In [76]:
from sklearn.compose import make_column_transformer

df_h = df.copy()

transformer = make_column_transformer((OneHotEncoder(drop='first'), ['col1', 'col2']),
    remainder='passthrough')

transformed = transformer.fit_transform(df_h)


transformed_df = pd.DataFrame(transformed.toarray(), columns=transformer.get_feature_names())
transformed_df.head()

,onehotencoder__x0_aaaaa,onehotencoder__x0_b,onehotencoder__x0_c,onehotencoder__x0_d,onehotencoder__x1_fasdfasdgq,onehotencoder__x1_fasfasdf,onehotencoder__x1_fffsdgsag
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
transformed.toarray()

array([[0., 1., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])