In [1]:
import numpy as np
import pandas as pd

In [2]:
df = {'col1': ['b', 'aaaaa', 'c', 'd', 'a', 'c'], 'col2': ['fasfasdf','fffsdgsag','fasdfasdgq', '4','4','4']}
df = pd.DataFrame(data=df)

In [3]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [4]:
col1_cat = ['b', 'aaaaa', 'c', 'd', 'a']
col2_cat = ['fasfasdf','fffsdgsag','fasdfasdgq', '4']

In [14]:
enc = OrdinalEncoder(categories=[col1_cat, col2_cat])
df_o = df.copy()
df_o[["col1", 'col2']] = enc.fit_transform(df[["col1", 'col2']])

In [6]:
df_o

   col1  col2
0   0.0   0.0
1   1.0   1.0
2   2.0   2.0
3   3.0   3.0
4   4.0   3.0
5   2.0   3.0

In [7]:
enc.categories_

[array(['b', 'aaaaa', 'c', 'd', 'a'], dtype=object),
 array(['fasfasdf', 'fffsdgsag', 'fasdfasdgq', '4'], dtype=object)]

In [8]:
enc_h = OneHotEncoder(drop='first')
transformed = enc_h.fit_transform(df[['col1']])

In [9]:
transformed.toarray()

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [10]:
enc_h.categories_

[array(['a', 'aaaaa', 'b', 'c', 'd'], dtype=object)]

In [11]:
from sklearn.compose import make_column_transformer

df_h = df.copy()

transformer = make_column_transformer((OneHotEncoder(drop='first'), ['col1', 'col2']),
    remainder='passthrough')

transformed = transformer.fit_transform(df_h)


transformed_df = pd.DataFrame(transformed.toarray(), columns=transformer.get_feature_names())
transformed_df.head()

,onehotencoder__x0_aaaaa,onehotencoder__x0_b,onehotencoder__x0_c,onehotencoder__x0_d,onehotencoder__x1_fasdfasdgq,onehotencoder__x1_fasfasdf,onehotencoder__x1_fffsdgsag
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
transformed.toarray()

array([[0., 1., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])